.app {
  width: 100vw;
  height: 100vh;
  background-color: #1e2326;
}

.app .contenedor_tablero {
  width: 650px;
  padding: 30px 90px;
}

.app .indicador {
  position: absolute;
  top: 50px;
  right: 285px;
  z-index: 20;
}

.app .cuadroRegistroPartida {
  position: absolute;
  top: 110px;
  right: 285px;
  z-index: 10;
  max-height: 290px;
  background-color: #fff; /* mismo color que la tabla o contenedor */
  overflow-y: auto;
}

.app .cuadroRegistroPartida .tablaajedrez {
  width: 100%;
  border-collapse: collapse; /* importante para que los bordes sean compartidos y permitir el scroll*/
  border-spacing: 0;
  background-color: #fff;
}

.app .cuadroRegistroPartida th {
  position: sticky;
  top: 0;
  background-color: #fff; /* para que no se vea transparente */
  z-index: 10; /* encima de las filas */
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

.output {
  position: absolute;
  width: 500px;
  height: 100px;
  right: 120px;
  bottom: 100px;
}

.app .indicador {
  right: 295px;
  top: 20px;
  background-color: #fff;
}
